<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>111207335620-dkc4lo7iu9rsccnhn520iaa08bn2nq8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.111207335620-dkc4lo7iu9rsccnhn520iaa08bn2nq8v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>111207335620-5nb8rmpg6cmspik9s5tbj3oe5i08kden.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATsyRy8xMDIj1PBy9iJG30vf0-9advrcc</string>
	<key>GCM_SENDER_ID</key>
	<string>111207335620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.contactcars</string>
	<key>PROJECT_ID</key>
	<string>contactcarsdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>contactcarsdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:111207335620:ios:7633f6400192ee2207ab91</string>
	<key>DATABASE_URL</key>
	<string>https://contactcarsdemo-default-rtdb.firebaseio.com</string>
</dict>
</plist>